.editor-width {
    width: 825px;
}

.item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 80px;
    max-width: 80px;
    min-height: 80px;
    max-height: 80px;
    text-align: center;
    border-bottom: 4px solid transparent;
    border-radius: 2px;
    padding: 8px 4px;
    font-size: 1em;
    word-wrap: break-all;
    cursor: pointer;
    color: rgb(255, 255, 255);
}

.item.large {
    min-width: 130px;
    max-width: 130px;
    min-height: 130px;
    max-height: 130px;
    font-size: 1.8em;
    font-weight: bold;
}

.item.small {
    min-width: 60px;
    max-width: 60px;
    min-height: 60px;
    max-height: 60px;
    font-size: .7em;
    font-weight: bold;
}


.item.super {
    min-width: 100%;
    max-width: 100%;
    max-height: none;
}

.item.super .chars {
    font-size: 3.5em;
}

.item.super .meaning {
    font-size: 1.4em;
}

.item.add {
    border: 1px dashed rgb(206, 206, 206);
    color: rgb(206, 206, 206);
    background-color: transparent;
    font-weight: bold;
}

.item.kanji {
    border-color: rgb(245, 153, 168);
    background-color: pink;
}

.item.radical {
    border-color: rgb(107, 191, 230);
    background-color: rgb(143, 205, 234);
}

.item.vocab {
    border-color: rgb(201, 107, 219);
    background-color: rgb(219, 148, 233);
}

.item.kanavocab {
    border-color: rgb(234, 166, 77);
    background-color: rgb(240, 186, 114);
}

.level-grid-item {
    border: 1px solid gainsboro;
    text-align: center;
    font-size: .8em;
    cursor: pointer;
}