@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin-bottom: 30px;
}

.max-width {
    width: 1024px;
}

[type='text']:focus,
[type='email']:focus,
[type='url']:focus,
[type='password']:focus,
[type='number']:focus,
[type='date']:focus,
[type='datetime-local']:focus,
[type='month']:focus,
[type='search']:focus,
[type='tel']:focus,
[type='time']:focus,
[type='week']:focus,
[multiple]:focus,
textarea:focus,
select:focus {
    outline: 0px !important;
    outline-offset: 0px !important;
    box-shadow: none !important;
}

*,
::before,
::after {
    --tw-ring-color: transparent !important;
}