@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin-bottom: 30px;
}

@media only screen and (max-width: 1100px) {
    .max-width {
        width: 700px !important;
    }

}

@media only screen and (max-width: 750px) {
    .max-width {
        width: 400px !important;
    }

}

.max-width {
    width: 1024px;
}

[type='text']:focus,
[type='email']:focus,
[type='url']:focus,
[type='password']:focus,
[type='number']:focus,
[type='date']:focus,
[type='datetime-local']:focus,
[type='month']:focus,
[type='search']:focus,
[type='tel']:focus,
[type='time']:focus,
[type='week']:focus,
[multiple]:focus,
textarea:focus,
select:focus {
    outline: 0px !important;
    outline-offset: 0px !important;
    box-shadow: none !important;
}

*,
::before,
::after {
    --tw-ring-color: transparent !important;
}

.nav-dropdown {
    position: relative;
    display: inline-block;
}

.nav-dropdown-content {
    display: none;
    min-width: 150px;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.nav-dropdown:hover .nav-dropdown-content {
    display: block;
}